    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function login() {
            debugger;
            console.log("Ajax working");
            console.log({'username': $('#username').val(), 'password': $('#password').val()});
            $.ajax({
                type: 'POST',
                url: 'https://api.cs.ui.ac.id/authentication/ldap/v2/',
                data: $('#loginForm').serialize(),
                cache: false,
                dataType: "json",
                crossDomain: false,
                success: function (response) {
                    console.log(response);
                    if (response.state == 1) {
                        console.info("Authentication Success!");
                        window.location.href = "/";
                    }
                    else {
                        console.error("Unable to login");
                    }
                },
                error: function (data) {
                    console.error("Login failure");
                }
            });
        };
    </script>
</body>
</html>