<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="${'/'}">No Worries</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{'/'}">View Status</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/post-status}">Post Status</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <div sec:authorize="isAuthenticated()">
                <span class="navbar-text">
                    Hello, <span th:text="${username}"/>
                </span>
            </div>
            <div sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </div>
        </ul>
    </div>
</nav>