<div th:replace="fragments/header"/>
    <title>No Worries</title>
</head>

<body style="background-color: #95bdfc;">
    <div th:replace="fragments/navbar"/>
    <br>
    <div class="d-flex justify-content-center text-center" style="width: 100%;">
        <h2>
            Choose your login method
        </h2>
    </div>
    <br>
    <div class="container border rounded" style="background-color: #bad5ff; max-width: 450px; border:2px solid #0063ff !important;">
        <div class="row m-2">
            <div class="d-flex justify-content-center text-center" style="width: 100%;">
                <button class="btn btn-primary">
                    <a th:href="@{https://sso.ui.ac.id/cas2/login/}">
                        <h2 style="color: white;">
                            University SSO [Disabled]
                        </h2>
                    </a>
                </button>
            </div>
        </div>
        <div class="row m-2">
            <div class="d-flex justify-content-center text-center" style="width: 100%;">
                <button class="btn btn-primary">
                    <a th:href="@{/oauth2/authorization/google}">
                        <h2 style="color: white;">
                            Google
                        </h2>
                    </a>
                </button>
            </div>
        </div>
    </div>
<div th:replace="fragments/footer"/>
