<div th:replace="fragments/header"/>
    <title>No Worries</title>
</head>

<body style="background-color: #95bdfc;">
    <div th:replace="fragments/navbar"/>
    <br>
    <div class="d-flex justify-content-center text-center" style="width: 100%;">
        <h2>
            Post your status!
        </h2>
    </div>
    <br>
    <div class="container border rounded" style="background-color: #bad5ff; max-width: 650px; border:2px solid #0063ff !important;">
        <div class="row my-1">
            <div class="d-flex justify-content-center text-center" style="width: 100%;">
                <form id="statusForm" method="POST" th:action="@{/post-status}" th:object="${status}" class="m-2 p-2" style="width: 100%;">
                    <h3 th:if="${errorMsg != null}" class="pb-3" id="error-message" th:text="${errorMsg}" style="color: red;"/>
                    <textarea th:field="*{content}" class="form-control" type="text" rows="5" id="status" name="status" autofocus="true" style="font-size: 1.5rem;"></textarea>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center text-center" style="width: 100%;">
        <button class="btn btn-primary" form="statusForm" type="submit"><h2>Submit</h2></button>
    </div>
<div th:replace="fragments/footer"/>
