<div th:replace="fragments/header"/>
    <title>No Worries</title>
</head>

<body style="background-color: #95bdfc;">
    <div th:replace="fragments/navbar"/>
    <br>
    <div class="d-flex justify-content-center text-center" style="width: 100%;">
        <h2>
            Hello <span th:text="${username}"/>!
            <br>
            Your randomly selected status is:
        </h2>
    </div>
    <br>
    <div class="container border rounded" style="background-color: #bad5ff; max-width: 650px; border:2px solid #0063ff !important;">
        <div class="row mb-2">
            <div class="d-flex justify-content-center" style="width: 100%;">
                <h4 class="m-2 p-2" th:text="${status}" style="width: 100%; white-space: pre-wrap;"/>
            </div>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center text-center" style="width: 100%;">
        <button class="btn btn-primary">
            <a th:href="@{/}"><h2 style="color: white;">Random Status</h2></a>
        </button>
    </div>
<div th:replace="fragments/footer"/>
